*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/target
target
.gradle
build
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_1.xml
.idea/libraries/Maven__com_squareup_okhttp_logging_interceptor_2_7_5.xml
.idea/libraries/Maven__com_squareup_okhttp_okhttp_2_7_5.xml
.idea/libraries/Maven__com_squareup_okio_okio_1_6_0.xml
.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_15.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_9.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.swagger-codegen-ignore
.travis.yml
build.gradle
build.sbt
gradle.properties
git_push.sh
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
src/main/AndroidManifest.xml
